@charset "UTF-8";
.q10-button{
  display: flex;
  justify-content: center;
}
.btn{
  margin-right: 30px;
  padding: 0 15px;
  line-height: 50px;
  border-radius: 10px;
  cursor: pointer;
}
.btn:last-child{
  margin-right: 0px;
}
.red{
  color: #fff;
  background: #fd0f0fd9;
}
.blue{
  color: #fff;
  background: #170ffdd9;
}
.green{
  color: #000;
  background: #0ffd0fd9;
}
.shadowred{
  color: #fff;
  background: #fd0f0fd9;
  box-shadow: 0 5px rgba(63,5,5,0.851);
}
.shadowblue{
  color: #fff;
  background: #170ffdd9;
  box-shadow: 0 5px rgba(5,13,63,0.851);
}
.shadowgreen{
  color: #000;
  background: #0ffd0fd9;
  box-shadow: 0 5px rgba(5,63,5,0.851);
}
.pushred{
  color: #fff;
  background: #fd0f0fd9;
  box-shadow: 0 5px rgba(63,5,5,0.851);  
}
.pushblue{
  color: #fff;
  background: #170ffdd9;
  box-shadow: 0 5px rgba(5,13,63,0.851);
}
.pushgreen{
  color: #000;
  background: #0ffd0fd9;
  box-shadow: 0 5px rgba(5,63,5,0.851);
}
.pushred:active,.pushblue:active,.pushgreen:active{
  box-shadow: 0 0;
  transform: translate(0,5px);
}
.style1{
  color: #67c5ff;
  border: 4px #67c5ff double;
  transition: 0.5s;
}
.style1:hover{
  background: #fffbef;
}
.style2{
  color: #67c5ff;
  border: 4px #75caff dotted;
  transition: 0.5s;
}
.style2:hover{
  border: 4px #75caff dashed;
}
.style3{
  color: #0079a5f8;
  background: #d0edfff8;
  border: 4px #67c5ff dashed;
  transition: 0.5s;
}
.style3:hover{
  color: #67c5ff;
  background: #ffffff;
}